.about-page {
  text-align: center;
  max-width: 800px;
  padding: 2rem;
}

.about-page h2 {
  font-size: clamp(1.6rem, 4vw, 2.4rem);
  font-weight: 300;
  line-height: 1.4;
}

.name-highlight {
  font-weight: 500;
  color: #febd69;
}

.typewriter {
  position: relative;
  font-weight: 500;
  white-space: nowrap;
}

.typewriter::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1px;

  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,0.8),
    transparent
  );

  animation: shimmer 2.5s infinite ease-in-out;
}

@keyframes shimmer {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}



.cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
