* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  background: #131A22;
  color: #9e9e9eff;
  font-family: system-ui, sans-serif;
}

.app {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

canvas {
  position: absolute;
  inset: 0;
}

